/**
 * Configures the test parameters to be created for integration tests.
 *
 * cp terraform.tfvars.example terraform.tfvars
 */

# The Github repository to add secrets to for running automation
github_repository = "ssm2env"

# The prefix to use for all SSM Parameters
prefix = "/test/ssm2env"

# The type of SSM Parameter to create
type = "String"

# The parameters to create for testing purposes
parameters = {
  foo = "<secure-string>"
  bar = "-"
  baz = "&escaped"
}

# Tags to attach to the SSM Parameters
tags = {
  test = "true"
}
